---
const { name } = Astro.props;
---

{Astro.slots.has('description') && (<section>
<slot name="description"/>
</section>)}

{Astro.slots.has('spec') && (<section>
<h2>Specification</h2>
<slot name="spec"/>
</section>)}

{Astro.slots.has('spec.const') && (<section>
<h3>Constants</h3>
<slot name="spec.const"/>
</section>)}

{Astro.slots.has('caveats') && (<section>
<h2>Caveats</h2>
<slot name="caveats"/>
</section>)}

{Astro.slots.has('examples') && (<section>
<h2>Examples</h2>
<slot name="examples"/>
</section>)}

{Astro.slots.has('snippets') && (<section>
<h2>Useful Snippets</h2>
<slot name="snippets"/>
</section>)}

{Astro.slots.has('notes') && (<section>
<h2>Notes</h2>
<slot name="notes"/>
</section>)}


{( Astro.slots.has('also.header')
|| Astro.slots.has('also.footer')
|| Astro.slots.has('also.events')
|| Astro.slots.has('also.functions')
|| Astro.slots.has('also.articles')) && (
<section>
<h2>See Also</h2>
<slot name="also.header"/>

{Astro.slots.has('also.events') && (<section>
<h3>Events</h3>
<slot name="also.events"/>
</section>)}

{Astro.slots.has('also.functions') && (<section>
<h3>Functions</h3>
<slot name="also.functions"/>
</section>)}

{Astro.slots.has('also.articles') && (<section>
<h3>Articles</h3>
<slot name="also.articles"/>
</section>)}

<slot name="also.footer"/>

</section>)}


<!-- 
## Deep Notes

History

Tests

Source location

Footnotes -->


