
.category-links {
	columns: 3 30ch;
	
	> a {
		display: block;
		width: fit-content;
		color: var(--sl-color-accent-high);
		
		&:visited {
			color: color(from var(--sl-color-accent-high) xyz x calc(y - 0.15) z);
		}
	}
}


