:root {
	/* Larger page content width with more information density is preferred */
	--sl-sidebar-width: 15rem;
	--sl-content-width: 75rem;
	
	/* Breadcrumbs */
	--color-link-breadcrumbs: var(--sl-color-text-accent);
}


/* Sidebar padding tweaks; Pad moved into inner elements */
.sidebar-content {
	padding: 0;
	
	.title-wrapper {
		padding: 0 var(--sl-sidebar-pad-x);
	}
	
	site-search > button[data-open-modal] {
		width: calc(100% - var(--sl-sidebar-pad-x)*2);
		margin: 0 var(--sl-sidebar-pad-x);
	}
	
	.social-icons {
		padding: 0 var(--sl-sidebar-pad-x);
	}
	
	.starlight-sidebar-topics a {
		padding-left: var(--sl-sidebar-pad-x);
	}
}


/* The mobile menu is really hard to see */
.mobile-header starlight-menu-button :is(.inc-spec, button) {
	color: var(--sl-color-text-accent);
}

/* Style the breadcrumbs */
.c-breadcrumbs {
	/* --spacing-vertical-separator-breadcrumbs: 0.5rem; */
	/* padding: 1.5rem var(--sl-content-pad-x) 0rem; */
	margin-top: 0.5rem;
	
	.c-breadcrumbs__link {
		font-weight: 500;
		color: var(--sl-color-white);
		
		&:hover {
			/* color: var(--sl-color-orange); */
			color: var(--sl-color-text-accent);
		}
	}
	
	/* .c-breadcrumbs__separator,.c-breadcrumbs__truncated-button {
		color: var(--color-cl1-brand-orange)
	} */
}

/* Highlight sidebar items more obviously on hover; Feedback to Fitt's Law */
a:where(.astro-3ii7xxms):hover:not([aria-current="page"]),
a:where(.astro-3ii7xxms):focus:not([aria-current="page"]) {
	background-color: color(from var(--sl-color-text-accent) xyz x y z / 0.1);
}

/* Sidebar — Prioritise scrolling readability */
.sidebar-top {
	position: static;
}

.sidebar {
	details[open] summary {
		position: sticky;
		top: 0;
		background-color: var(--sl-color-bg-sidebar);
	}
	
	li:has(> .is-priority) {
		padding-bottom: 0.6em;
	}
}


/* For a huge amount of links */
.category-links {
	columns: 3 30ch;
	
	> .category-links__link {
		display: block;
		width: fit-content;
		color: var(--sl-color-accent-high);
		text-decoration: none;
		
		.category-links__label {
			text-decoration: underline;
		}
		
		&.is-stub {
			/* color: color(from var(--sl-color-accent-high) xyz x calc(y - 0.1) calc(z - 0.2)); */
			.category-links__label {
				text-decoration: underline wavy;
				text-decoration-color: color(from var(--sl-color-accent-high) xyz x y z / 0.6);
			}
		}
		
		&.is-deprecated {
			
		}
		
		&:visited {
			color: color(from var(--sl-color-accent-high) xyz x calc(y - 0.15) z);
		}
		
		&:not(:hover, :active) .badge-stub {
			display: none;
		}
	}
}

/* Expressive Code — Tweak tab indentation width based on screen width; That's right, tab indents are actually just a dynamic reading accessibility */
.sl-markdown-content .expressive-code {
	tab-size: 4;
	
	@media screen and (max-width: 768px) {
		tab-size: 2;
	}
	
	@media screen and (min-width: 1480px) {
		tab-size: 6;
	}
}


/* Minimal / Inline variants of syntax highlighted code */
.sl-markdown-content .expressive-code {
	&.is-minimal {
		.frame {
			--ec-brdWd: 0;
			--code-background: none;
		}
		
		pre {
			background: none;
		}
		
		pre > code {
			padding: 0;
		}
		
		.ec-line .code,
		:nth-child(1 of .ec-line) .code {
			padding-inline-start: .3rem;
			padding-inline-end: .3rem;
		}
		
		.copy {
			display: none;
		}
	}
	
	&.is-inline {
		display: contents;
		figure,
		pre,
		code,
		.ec-line,
		.code {
			display: contents;
		}
	}
}

/* Tweak underlines of anchor links */
.sl-markdown-content {
	a:not(:where(.not-content *)) {
		/* text-decoration: none; */
		/* text-underline-offset: 0.2em; */
		text-underline-position: from-font;
		text-decoration-thickness: from-font;
	}
}

/* Don't bold definition titles but do increase the padding */
.sl-markdown-content {
	dt:not(:where(.not-content *)) {
		font-weight: inherit;
	}
	dd:not(:where(.not-content *)) {
		padding-inline-start: 3rem;
	}
}

/* Tweak params tables for info density and column spacing */
.params-list {
	font-size: var(--sl-text-xs);
	word-break: break-word;
}


.function-syntax {
	.type {}
	.name {}
	.arguments {}
	.argument {}
	.description {}
}