/* Larger page content width with more information density is preferred */
:root {
	/* --sl-content-width: 60rem; */
	--sl-sidebar-width: 20rem;
	--sl-content-width: 70rem;
}

/* Breadcrumbs */
:root {
	--color-link-breadcrumbs: var(--sl-color-text-accent);
}

.c-breadcrumbs {
	/* --spacing-vertical-separator-breadcrumbs: .5rem; */
	padding: .5rem;
	.c-breadcrumbs__link {
		font-weight: 500;
		color: var(--sl-color-white);
		
		&:hover {
			/* color: var(--sl-color-orange); */
			color: var(--sl-color-text-accent);
		}
	}
	
	/* .c-breadcrumbs__separator,.c-breadcrumbs__truncated-button {
		color: var(--color-cl1-brand-orange)
	} */
}

/* Nav */
a:where(.astro-3ii7xxms):hover:not([aria-current="page"]),
a:where(.astro-3ii7xxms):focus:not([aria-current="page"]) {
	background-color: color(from var(--sl-color-text-accent) xyz x y z / 0.1);
}

/* For a huge amount of links */
.category-links {
	columns: 3 30ch;
	
	> a {
		display: block;
		width: fit-content;
		color: var(--sl-color-accent-high);
		
		&:visited {
			color: color(from var(--sl-color-accent-high) xyz x calc(y - 0.15) z);
		}
	}
}


