---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { LinkCard } from '@astrojs/starlight/components';

const pages = Object.values(import.meta.glob('../content/docs/constants/*', { eager: true }));
---

<StarlightPage frontmatter={{ title: 'LSL Constants' }}>
	<div class="category-links">
	{pages.map(page =>
		<a href={page.frontmatter.slug || page.url.replace('src/content/docs', '').replace('.mdx', '')}>
			{page.frontmatter.title}
		</a>
	)}
	</div>
</StarlightPage>
