---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { LinkCard } from '@astrojs/starlight/components';

const pages = Object.values(import.meta.glob('../content/docs/functions/*', { eager: true }));

---

<StarlightPage frontmatter={{ title: 'LSL Functions' }}>
	<div class="category-links">
	{pages.map(page =>
		<a href={page.frontmatter.slug || page.url.replace('src/content/docs', '').replace('.mdx', '')}>
			{page.frontmatter.title}
		</a>
		// <LinkCard
		// 	title={page.frontmatter.title}
		// 	href={page.frontmatter.slug || page.url.replace('src/content/docs', '').replace('.mdx', '')}
		// />
		// <code>{JSON.stringify(page, null, '\t')}</code>
	)}</div>
</StarlightPage>
