---
const pages = Object.values(import.meta.glob('../content/docs/controls/*', { eager: true }));
---

<div class="category-links">
	{pages.filter(page => page.frontmatter?.sidebar?.order != -1).map(page =>
		<a href={'/' + (page.frontmatter.slug || page.url.replace('src/content/docs', '').replace('.mdx', ''))}>
			{page.frontmatter.title}
		</a>
	)}
</div>
