---
const PAGE_TITLE_ID = '_top'; // import { PAGE_TITLE_ID } from '@astrojs/starlight/constants.ts';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
---

<h1 id={PAGE_TITLE_ID}>{Astro.locals.starlightRoute.entry.data.title}</h1>

{Astro.url.pathname != '/' &&
<Breadcrumbs indexText="LSL Dev" debug={true}>
	<svg
		slot="separator"
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="2"
		stroke-linecap="round"
		stroke-linejoin="round"
		><polyline points="9 18 15 12 9 6"></polyline>
	</svg>
</Breadcrumbs>}

<style>
	@layer starlight.core {
		h1 {
			margin-top: 1rem;
			font-size: var(--sl-text-h1);
			line-height: var(--sl-line-height-headings);
			font-weight: 600;
			color: var(--sl-color-white);
		}
	}
</style>