---
import { FileTree } from "@astrojs/starlight/components";
import definitions from '../data/lsl_definitions.json';

const { name } = Astro.props;
const definition = definitions.constants[name];
const {
	type = definition.type,
	value = definition.value,
} = Astro.props;
---

<FileTree>
	<ul>
		<li>{name} {type} = {value}</li>
	</ul>
</FileTree>
