---
import { FileTree } from "@astrojs/starlight/components";
import definitions from '../data/lsl_definitions.json';

const { name } = Astro.props;
const definition = definitions.controls[name];
---

<FileTree>
	<ul>
		<li>{name}</li>
	</ul>
</FileTree>
