---
import { FileTree } from "@astrojs/starlight/components";
import * as definitions from '../data/lsl_definitions.json';

const mapEventArguments = arg => {
	const name = Object.keys(arg)[0];
	const param = arg[name];
	const type = param.type || 'unknown';
	const description = param.tooltip || param.description? param.tooltip || param.description : undefined;
	return { name, type, description };
};

const { name } = Astro.props;
const definition = definitions.events[name];
const { arguments: args = definition.arguments?.map(mapEventArguments) } = Astro.props;
---

<!-- Lazily using the FileTree here, but it's roughly what I'm trying to achieve UI wise -->
<FileTree>
	<ul>
		<li>{name}
			{args && <ul>{args.map(({ name, type, description }) => (
				<li>{name} {type} {description && ' — ' + description}</li>
			))}
			</ul>}
		</li>
	</ul>
</FileTree>
